{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://kit.fontawesome.com/cfed9a189e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <ul class="header-list">
                <li>
                    <a class="header-list__element" href="https://t.me/fwhyjke">контакты</a>
                </li>
                <li>
                    <a class="" href="/">
                        <img class="logo" src="{% static 'images/logo.png' %}" alt="Logo">
                    </a>
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <form class="logout-form" action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="user-name" type="submit">{{ user.username }}<i class="fa-solid fa-arrow-right-from-bracket"></i></button>
                    </form>
                    {% else %}
                    <a class="header-list__element" href="{% url 'login' %}">войти</a>
                    {% endif %}
                </li>
            </ul>
        </header>
        <main>
            <form class="login-form" method="post">
                {% csrf_token %}
                <h3>С возвращением</h3>

                {% if messages %}
                {% for message in messages %}
                <p class="log-error">{{ message }}</p>
                {% endfor %}
                {% endif %}

                <label for="username">Логин</label>
                {{ form.username }}

                <label for="password">Пароль</label>
                {{ form.password }}

                <button class="login-btn" type="submit">Войти</button>

                <div class="reg">
                    <a class="reg-btn" href="/registration">Ещё нет аккаунта?</a>
                </div>
            </form>
        </main>
    </div>
</body>

</html>