{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://kit.fontawesome.com/cfed9a189e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <ul class="header-list">
                <li>
                    <a class="header-list__element" href="https://t.me/fwhyjke">контакты</a>
                </li>
                <li>
                    <a class="" href="/">
                        <img src="{% static 'images/logo.png' %}" alt="Logo">
                    </a>
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <form class="logout-form" action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="user-name" type="submit">{{ user.username }}<i class="fa-solid fa-arrow-right-from-bracket"></i></button>
                    </form>
                    {% else %}
                    <a class="header-list__element" href="{% url 'login' %}">войти</a>
                    {% endif %}
                </li>
            </ul>
        </header>        
        <main>
            <form class="reg-form" method="post">
                {% csrf_token %}
                <h3>Создать аккаунт</h3>
            
                <label for="username">Имя пользователя</label>
                {{ form.username }}
            
                <label for="password1">Пароль</label>
                {{ form.password1 }}
                {% for error in form.password1.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            
                <label for="password2">Подтвердите пароль</label>
                {{ form.password2 }}
                {% for error in form.password2.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            
                <button class="login-btn" type="submit">Зарегистрироваться</button>
            
                <div class="reg">
                    <a class="reg-btn" href="/login">Уже есть аккаунт?</a>
                </div>
            </form>
            
        </main>
    </div>
</body>
</html>