@font-face {
    font-family: FiraSans-Regular;
    src: url('fonts/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: FiraSans-Bold;
    src: url('fonts/FiraSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: FiraSans-Light;
    src: url('fonts/FiraSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: FiraSans-Italic;
    src: url('fonts/FiraSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

html {
    background-color: black;
    font-size: 10px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 24px 24px;
    position: sticky;
}

header img {
    height: 3rem;
}



.start_game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.gradient-button-wel {
    text-decoration: none;
    display: inline-block;
    padding: 24px 40px;
    border-radius: 60px;
    font-size: 60px;
    color: #ffffff;
    background-image: linear-gradient(to right, #2E151B, #c43131, #2E151B);
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .gradient-button-wel:hover {
    transform: scale(1.1);
  }


  .glow-on-hover {
    position: relative;
    animation: glow-on-hover 0.75s ease-in-out infinite;
  }
  
  @keyframes glow-on-hover {
    0% {
      box-shadow: 0 0 0 0 rgba(189, 96, 96, 0.7);
    }
  
    50% {
      box-shadow: 0 0 40px 20px rgba(255, 234, 46, 0);
    }
  
    100% {
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
  }
  